sudo: required
dist: trusty
language: php
php:
  - 5.6
  - 7.0
  - 7.1
services:
  - mysql
env:
  global:
    - VENDOR_NAME=<MY_VENDOR_NAME>
    - MODULE_NAME=<MY_MODULE_NAME>
    - DB=magento_db
    - MAGENTO_DIR=magento
    - TRAVIS_SCRIPTS_REPOSITORY=https://github.com/akai-z/magento2-travis-ci-scripts.git
    - TRAVIS_SCRIPTS_DIR=travis_scripts
    - TRAVIS_SCRIPTS_PATH=${TRAVIS_SCRIPTS_DIR}/scripts
    - MODULE_DEPLOY_PATH=app/code/${VENDOR_NAME}/${MODULE_NAME}
    - COMPOSER_BIN_DIR=~/bin
  matrix:
    - MAGENTO_VERSION=2.0.15
    - MAGENTO_VERSION=2.1.7
matrix:
  exclude:
  - php: 7.1
    env: MAGENTO_VERSION=2.0.15
  - php: 7.1
    env: MAGENTO_VERSION=2.1.7
cache:
  apt: true
  directories: ${HOME}/.composer/cache
before_install:
  - cd ../..
  - git clone $TRAVIS_SCRIPTS_REPOSITORY $TRAVIS_SCRIPTS_DIR
  - ./${TRAVIS_SCRIPTS_PATH}/before_install.sh
install:
  - ./${TRAVIS_SCRIPTS_PATH}/install.sh
script:
  - ./${TRAVIS_SCRIPTS_PATH}/script.sh
  - ./${MAGENTO_DIR}/${MODULE_DEPLOY_PATH}/dev/travis_ci/script.sh
